.main{
  border:2px solid black;
  display: flex;
  flex-direction: row;
}
.left{
  border:5px solid #ddd;
    margin: 5%;
    padding: 8%;
    width: 50%;
    font-size: 20px;
    background: #D9EEE3;
}
.left img{
  width: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  border:2px solid black;
  background:skyblue;
}
.right{
  border:2px solid #ddd;
  width: 90%;
  padding:8%;
  margin: 5%;
  font-size: 25px;
  background: skyblue;
}
.right img{
  width: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  border:2px solid black;
  background:skyblue;
}
